@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-foreground: #ffffff;
}

:root {
  --background: #121212;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@utility text-balance {
  text-wrap: balance;
}
